
@model CityPhotosViewModel
@inject IUnitOfWork<City> _unitOfWork

@{
    var cities = new SelectList(await _unitOfWork.generic.GetAllAsync(), "Id", "Name");
}
<div class="form-group p-5 ">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label for="inputAddress" class="col-form-label">City</label>
        <select asp-for="CityId" class="col-form-label mt-2" asp-items="@cities" style="width :70px ; border : 2px dashed black">
            <option value="@null">--Please Select A City</option>

        </select>
    </div>
           <div class="form-group">
        <label asp-for="Photo" class="control-label">Photo</label>
        <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span> 
            </div>

         
            
        
        </div>


