@model CityPhotosViewModel

<div >
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Id" class="col-form-label"></label>
        <input asp-for="Id" class="form-control" readonly />

    </div>

    <div class="form-group">
    <label asp-for="city" class="col-form-label">City</label>
        <input asp-for="city.Name" value="" class="form-control" readonly />

    </div>

    <div class="form-group">
    <label asp-for="Photo" class="col-form-label"></label>
     <input asp-for="Photo" class="form-control" readonly />

    </div>
</div>